body {
            height:842px;
            width:595px;
            margin-left: auto;
            margin-right: auto;
            background-color: #E4F9F5;
            
        }
	table {
            margin-top: 50px;
            background-color: #E4F9F5;
	        padding: 10px 20px;
	        margin-left: auto;
            margin-right: auto;
	}
	td {
        padding-right:20px;
    }